Package: sta-to-csv
Version: 0.1.0
Architecture: amd64
Maintainer: Hugo Benicio <hugo.oliveira@serpro.gov.br>
Installed-Size: 35
Depends: libc6 (>= 2.14), libgcc1 (>= 1:3.0), libstdc++6 (>= 5.2)
Source: sta-to-csv-src
Conflicts:
Breaks:
Replaces:
Section: devel
Priority: optional
Homepage: https://github.com/hbobenicio/sta-to-csv
Description: Simple STA to CSV converter.
 This is a simple STA to CSV file converter.
 Includes a parser that is able to read the REF file
 which contains all the schema information of the STA data file.
